/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.scss */
app-cart-drawer {
  position: relative;
  z-index: 9999 !important;
}

/* Forzar que el Drawer sea visible si la clase está presente */
.translate-x-0 {
  transform: translateX(0) !important;
}

.translate-x-full {
  transform: translateX(100%) !important;
}

html {
  scroll-behavior: smooth;
  background-color: #f8fafc;
  transition: background-color 0.3s ease;
}

html.dark {
  background-color: #0a0a0a;
}

/* Scrollbar minimalista */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

.dark ::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
}

/* Ocultar scrollbar pero permitir scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}